# ROS 2 build artifacts
build/
install/
log/

# Python cache
__pycache__/
*pyc

# vscode
.vscode

# OS files
.DS_Store

# frame files
*.gv
frames_*.pdf

cheatsheet.md

*.egg-info/

*.bag
*.log

*.hdf5
imitation_data/

safeDagger_Architecture.md